<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
</head>
<body>
    <div id="message">
        <div id="subject">
            <h1>Email System</h1>
        </div>
        <h1>{{ content }}</h1>
        <form action="/email" id="email-form" method=post>
            <label class="legend">제목</label>
            <input type="text" name="email_title" value=""/>

            <label class="legend">수신 이름</label>
            <input type="text" name="email_sender" value=""/>

            <label class="legend">보낼 이메일 주소</label>
            <input type="text" name="email_receiver" value=""/>

            <label class="legend">내용</label>
            <textarea type="text" name="email_content" value="" cols="50" rows="10"></textarea>
            <input type="submit" value="보내기"/>
        </form>
    </div>
</body>
</html>