<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="/">Home</a>

    <!-- '모든 항목', '해야 할 항목', '완료된 항목' 을 나타내는 버튼을 오른쪽에 생성-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">모든 항목</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">해야 할 항목</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">완료된 항목</a>
            </li>
        </ul>
    </div>
</nav>